body {
    font-family: 'Fredoka One', cursive;
}

header {
    background: yellowgreen;
    text-align: center;
    font-size: 110%;
}
.container {
    text-align: center;
}

section {
    background: lightblue;
    font-size: 120%;
}
button {
    word-wrap: break-word;
}


.row {
    text-align: center;
}
ul {
    list-style: none;
}

#display {
    font-size: 140%;
}